<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Анкета диагностики симптомов сердечной недостаточности</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        input[type='checkbox'] {
            -webkit-appearance: none;
            width: 20px;
            height: 20px;
            background: white;
            border-radius: 5px;
            border: 1px solid gray;

        }

        .form-check label {
            padding-left: 15px;
        }

        input[type='checkbox']:checked {
            background: lightpink;
        }
    </style>

</head>
<body>
<div class="container" style="margin-top: 15px;">
    <h4>Анкета диагностики симптомов сердечной недостаточности</h4>

    <form method="POST" style="margin-top: 25px; font-size: 120%;">
        <div class="form-check">
            <input type="checkbox" name="big1" value="warning" class="form-check-input"><label class="form-check-label">Появилась одышка при ранее привычной физической нагрузке.</label>
        </div>

        <div class="form-check">
            <input type="checkbox" name="big2" value="warning" class="form-check-input"><label class="form-check-label">Были жалобы на одышку в положение лежа / была необходимость во время сна поднять подушку выше и/или положить больше подушек.</label>
        </div>

        <div class="form-check">
            <input type="checkbox" name="big3" value="warning" class="form-check-input"><label class="form-check-label">Были приступы ночной одышки.</label>
        </div>

        <div class="form-check">
            <input type="checkbox" name="big4" value="warning" class="form-check-input"><label class="form-check-label">Физическая нагрузка давалась тяжелее, чем ранее.</label>
        </div>

        <div class="form-check">
            <input type="checkbox" name="big5" value="warning" class="form-check-input"><label class="form-check-label">Появились слабость, повышенная утомляемость, необходимость в более продолжительном отдыхе.</label>
        </div>

        <div class="form-check">
            <input type="checkbox" name="big6" value="warning" class="form-check-input"><label class="form-check-label">Отечность голеней, увеличение в объеме лодыжек, появление следов от носок/обуви.</label>
        </div>

        <div class="form-check">
            <input type="checkbox" name="big7" value="warning" class="form-check-input"><label class="form-check-label">Увеличилась окружность талии.</label>
        </div>

        <hr>

        <div class="form-check">
            <input type="checkbox" name="small1" value="warning" class="form-check-input"><label class="form-check-label">Беспокоил ли Вас ночной кашель.</label>
        </div>

        <div class="form-check">
            <input type="checkbox" name="small2" value="warning" class="form-check-input"><label class="form-check-label">Вес увеличился на 2 кг.</label>
        </div>

        <div class="form-check">
            <input type="checkbox" name="small3" value="warning" class="form-check-input"><label class="form-check-label">Вес уменьшился на 1 кг.</label>
        </div>

        <div class="form-check">
            <input type="checkbox" name="small4" value="warning" class="form-check-input"><label class="form-check-label">Чувствовал(а) себя подавленными или апатичными.</label>
        </div>

        <div class="form-check">
            <input type="checkbox" name="small5" value="warning" class="form-check-input"><label class="form-check-label">Беспокоит ли Вас сердцебиение.</label>
        </div>

        <div class="form-check">
            <input type="checkbox" name="small6" value="warning" class="form-check-input"><label class="form-check-label">Не могу задержать дыхание на 30 секунд.</label>
        </div>

        <div class="form-group" style="margin-top: 25px;">
            <input type="submit" class="btn-success btn" value="Отправить"/>
        </div>
    </form>
</div>
</body>
</html>